In [3]:
import pandas as pd

In [7]:
names=pd.read_excel(r"C:\Users\HP\Downloads\Names.xlsx",sheet_name='Sheet1')   #feeding all the student names
names.head()

         NamesA  AttendanceA        NamesB  AttendanceB
0  NHPSPSTD5550          NaN  NHPSPSTD5649          NaN
1   NHPSPSTD386          NaN  NHPSPSTD7424          NaN
2   NHPSPSTD460          NaN   NHPSPSTD459          NaN
3  NHPSPSTD5557          NaN   NHPSPSTD587          NaN
4  NHPSPSTD5627          NaN   NHPSPSTD421          NaN

In [12]:
attendance = pd.read_excel(r"C:\Users\HP\Downloads\attendance.xlsx",sheet_name="S")  #reading today's attendance
attendance.head()

,Full Name,Join Time,Leave Time,Duration,userPrincipalName,Role
0,NHPSPSTD584,"8/17/2021, 2:35:17 PM","8/17/2021, 3:33:59 PM",58m 42s,nhpspstd584@newhorizonsms.org,Attendee
1,NHPSPSTD6871,"8/17/2021, 2:44:25 PM","8/17/2021, 3:36:39 PM",52m 13s,nhpspstd6871@newhorizonsms.org,Attendee
2,NHPSPSTD5520,"8/17/2021, 2:44:35 PM","8/17/2021, 3:34:31 PM",49m 55s,nhpspstd5520@newhorizonsms.org,Attendee
3,NHPSPSTD7424,"8/17/2021, 2:46:42 PM","8/17/2021, 3:36:46 PM",50m 3s,nhpspstd7424@newhorizonsms.org,Attendee
4,NHPSPSTD7407,"8/17/2021, 2:48:08 PM","8/17/2021, 3:04:54 PM",16m 46s,nhpspstd7407@newhorizonsms.org,Attendee

In [31]:
att=set(attendance['Full Name'])
len(att)

66

In [32]:
for i in range(0,44):                                                    
    if names.at[i,'NamesA'] in att:
        names.at[i,'AttendanceA']=int(1)
    else:
        names.at[i,'AttendanceA']=int(0) 
    if names.at[i,'NamesB'] in att:
        names.at[i,'AttendanceB']=int(1)
    else:
        names.at[i,'AttendanceB']=int(0)                     #marking 1 if the child is present and 0 if absent
names.head()

         NamesA  AttendanceA        NamesB  AttendanceB
0  NHPSPSTD5550          0.0  NHPSPSTD5649          1.0
1   NHPSPSTD386          1.0  NHPSPSTD7424          1.0
2   NHPSPSTD460          1.0   NHPSPSTD459          1.0
3  NHPSPSTD5557          1.0   NHPSPSTD587          1.0
4  NHPSPSTD5627          0.0   NHPSPSTD421          1.0

In [27]:
names.to_excel(r"C:\Users\HP\Downloads\attendee.xlsx")      #saving the transformed file in excel