In [41]:
import pandas as pd

In [25]:
url="http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
df = pd.read_csv(url)
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [26]:
df.columns = ["sepal_length","sepal_width","petal_length","petal_width","species"]
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [27]:
df['species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [28]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

df['species']= label_encoder.fit_transform(df['species'])
df['species'].unique()

array([0, 1, 2])

In [30]:
X = df[["sepal_length","sepal_width","petal_length","petal_width"]]
y = df["species"]

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=0)

In [33]:
print("X_train shape: {}".format(X_train.shape))
print("y_train shape: {}".format(y_train.shape))

print("X_test shape: {}".format(X_test.shape))
print("y_test shape: {}".format(y_test.shape))

X_train shape: (111, 4)
y_train shape: (111,)
X_test shape: (38, 4)
y_test shape: (38,)

In [34]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=1)

In [36]:
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [39]:
from sklearn.metrics import classification_report, accuracy_score

In [40]:
pred_errors = (y_pred != y_test).sum()
    
print(accuracy_score(y_test, y_pred))
print(pred_errors)
print(classification_report(y_test, y_pred))

0.8947368421052632
4
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        14
           1       0.81      0.93      0.87        14
           2       0.88      0.70      0.78        10

    accuracy                           0.89        38
   macro avg       0.90      0.88      0.88        38
weighted avg       0.90      0.89      0.89        38